@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0 auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f5;
    font-size: 16px;
}
header{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #3b82f6;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;

}
header img{
    margin-left: 5%;
    height: 80%;
}
header input{
    background-color: #f4f4f5;
    margin-right: 5%;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
}
input:focus{
    outline: none;
}


main{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 60% 20%;
    grid-template-rows: auto 1fr;
    gap: 3%;
    justify-content: center;
    padding-bottom: 100px;
}
.informacion{
    grid-row: 1 / 2;
    grid-column: 1 / 3; 
    width:100%;
    background-color: #fff;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    padding:20px 0;
}
.informacion img{
    width:15%;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid #3b82f6;
    margin-left: 2%;
}
.informacion .info{
    margin-right: 50%;
}
.informacion .info p{
    margin-top: 10px;
}
.informacion .info p span{
    font-weight: bolder;
}
.informacion .info .work{
    color: #71717a;
}
.informacion button{
    height: 30px;
    padding: 5px 15px;
    text-align: center;
    position: absolute;
    right: 12%;
    margin-top: 138px;
    border: none;
    border-radius: 10px;
    background-color: #3b82f6;
    color: #fff;
    font-size: 1em;
}
.sobremi{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #fff;
    border-radius: 30px;
    padding:20px 20px 0px 20px;
    height:400px;
}
.sobremi h2{
    color: #71717a;
}

.publicaciones{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #fff;
    border-radius: 30px;
    padding:20px;
}
.publicaciones .fecha{
    color: #71717a;
}
.publicaciones img{
    margin-top: 10px;
    width:100%;
    border-radius:15px
}
.publicaciones .megusta{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.publicaciones .megusta button{
    border: none;
    background-color: #f4f4f5;
    padding: 10px 15px;
    border-radius: 10px;
    color: #3b82f6;
    font-weight: bold;
    font-size: 1em;
    margin-left: 0%;
}
.publicaciones .megusta p {
    margin-right: 5%;
}
.publicaciones .megusta p span{
    font-size: 1em;
    font-weight: bolder;
}
h4,.publicaciones .comentarios{
    margin-top: 10px;
}
.publicaciones .comentarios p{
    margin-top: 10px;
    font-size: .8em;
    margin-left: 0%;
}
.publicaciones .comentarios p span{
    font-weight: bolder;
    font-size: 1em;
}
.publicaciones .comentarios #eliminar {
    border: none;
    padding: 5px 10px;
    color: #ff0000;
    background-color: #f4f4f5;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 5%;
}
.publicaciones .comentar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.publicaciones .comentar input{
    margin-left: 0%;
    width: 70%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f4f4f5;
}
.publicaciones .comentar button{
    margin-right: 5%;
    border: none;
    border-radius: 10px;
    padding:10px 15px;
    background-color: #3b82f6;
    color: #fff;
}

